<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="./card.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="chead">
        <h3>A Quick guid to Visit our Website</h3>
    </div>

    <div class="wcard-container">

        <div class="wcard" id="c1">
            <div class="content">
                <div class="front">
                    <div class="front-content">
                        <div class="badge">STEP 1</div>
                        <div class="description">
                            <p>Start by creating your personal account. Provide your basic information and set up a
                                password to access the virtual campus. Once registered, you’ll be able to explore all
                                features.</p>
                        </div>
                       
                    </div>
                </div>
                <div class="back">
                    <div class="back-content">
                        <p>Hover to see STEP 1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wcard" id="c2">
            <div class="content">
                <div class="front">
                    <div class="front-content">
                        <div class="badge">STEP 2</div>
                        <div class="description">
                            <p>After logging in, click on the 'Xplore Campus' button. This will give you access to an
                                interactive map of the entire campus. From here, you can choose specific buildings and
                                view their layout.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="back">
                    <div class="back-content">
                        <p>Hover to see STEP 2</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wcard" id="c3">
            <div class="content">
                <div class="front">
                    <div class="front-content">
                        <div class="badge">STEP 3</div>
                        <div class="description">
                            <p>Pick the floor number from the dropdown menu to navigate to a specific area. This will
                                display a detailed floor plan with room labels for easy navigation.</p>
                        </div>
                       
                    </div>
                </div>
                <div class="back">
                    <div class="back-content">
                        <p>Hover to see STEP 3</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="wcard" id="c4">
            <div class="content">
                <div class="front">
                    <div class="front-content">
                        <div class="badge">STEP 4</div>
                        <div class="description">
                            <p>Just click on classrooms to find specific classrooms, teacher cabins, or HOD offices.
                                Click on any room to view more details like schedules, teacher availability, and their
                                personal websites.</p>
                        </div>
                       
                    </div>
                </div>
                <div class="back">
                    <div class="back-content">
                        <p>Hover to see STEP 4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="bh">
        <li class="home"><a href=""><i class="fas fa-home"></i></a></li>
    </ul>

    <footer class="f">
        <p>All Rights Reserved &copy 2024 Virtuonavi</p>
    </footer>
</body>

</html>
